
stages:
  - quality

.php: &php
  image: "registry.gitlab.com/arnapou/docker/php:${PHPVER}-dev"
  stage: quality
  before_script:
    - composer install --no-interaction --no-progress --quiet
  cache:
    key: "${PHPVER}:${CI_COMMIT_REF_SLUG}:${CI_JOB_NAME}"
    paths: [vendor]
  parallel:
    matrix:
      - PHPVER: [ '8.3', '8.4', '8.5' ]

cs + sa:
  <<: *php
  script:
    - composer run cs
    - composer run sa

test:
  <<: *php
  script:
    - sudo -Eu www-data composer run test:ci
    - sudo -Eu www-data composer run behat
  coverage: '/^\s*Lines:\s*\d+.\d+\%/'
  artifacts:
    when: always
    reports:
      junit: phpunit-report.xml
      coverage_report:
        coverage_format: cobertura
        path: phpunit-coverage.xml
