/*
 * This file is part of the Arnapou PFDB package.
 *
 * (c) Arnaud Buathier <arnaud@arnapou.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
* {
    outline: 0 !important;
}

/*
 * Example tables.
 */
div.example {
    display: flex;
}
div.example > * {
    margin-top: 0;
}
div.example > div.table {
    flex: 40%;
}
div.example > div.code {
    flex: 60%;
}

div.example > div.table table {
    margin-top: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
    overflow-wrap: break-word;
}
div.example > div.table table th,
div.example > div.table table td {
    padding: 0 0.25rem;
}
div.example > div.code pre {
    margin-left: 1rem;
    margin-top: 0;
    width: 100%;
    overflow-x: auto;
}

@media screen and (max-width: 65rem) {
    div.example {
        display: block;
    }
    div.example > div.code pre {
        margin-left: 0;
    }
}

/*
 * simple.css custom
 */
body {
    grid-template-columns: 1fr min(60rem, 90%) 1fr;
    font-size: 1rem;
}

pre {
    font-size: 0.8em;
}